@model Konzole.InventorySystem.Entities.WarehouseLoc

@{
    ViewBag.Title = "Warehouse Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Category Details
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="form-group">
                                <label class="col-lg-4" style="text-align:right; font-weight:normal;">Warehouse Id:</label>
                                @Html.TextBoxFor(model => model.WarehouseLocId, new { @class = "form-control", @style = "width:350px", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4" style="text-align:right; font-weight:normal;">Location Address:</label>
                                @Html.TextBoxFor(model => model.LocationAddress, new { @class = "form-control", @style = "width:350px", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4" style="text-align:right; font-weight:normal;">Created by:</label>
                                @Html.TextBoxFor(model => model.RecUser, new { @class = "form-control", @style = "width:350px", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4" style="text-align:right; font-weight:normal;">Date Created:</label>
                                @Html.TextBoxFor(model => model.Recdate, new { @class = "form-control", @style = "width:350px", @readonly = "readonly" })
                            </div>


                            <div class="form-group">
                                @Html.ActionLink("Back to List", "WarehouseLocList", null, new { @class = "btn btn-default" })
                            </div>
                        </div>
                        <!-- /.col-lg-12 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-10 -->
        <div class="col-lg-2">
            &nbsp;
        </div>
        <!-- /.col-lg-2 -->
    </div>
    <!-- /.row -->
</div>